@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* declaracion de variables */

:root {
    --color-base: #F3F5FC;
    --color-primario: #0a3871;
    --color-primario-ligero: #849cba;
    --color-secundario: #797b7c;
    --color-secundario-ligero: lightgrey;
    --color-terciario: #5d5c5c;
    --color-hover: #748cac;

    --fuente-primaria: Inter, Helvetica, Arial, serif;
}

/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 2% 5%;
}

body {
    background-color: var(--color-base);
}

button {
    border-radius: 24px;
    background: var(--color-primario);
    color: var(--color-base);
    padding: 1rem;
    width: 100%;
    max-width: 300px;
    font: 300 16px/1.5 var(--fuente-primaria);
    margin-top: 2rem;
    cursor: pointer;
}

button:disabled {
    background: var(--color-secundario-ligero);
    color: var(--color-primario);
    cursor: auto;
}

.presentacion {
    display: flex;
    align-items: normal;
    padding: 3% 5%;
    flex-direction: column;
    justify-content: center;
}

.presentacion__izquierda, .presentacion__derecha {
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 100%;
}

#banner {
    font: 300 16px/1.5 var(--fuente-primaria);
    margin-top: 2rem;
    background: var(--color-primario);
    color: var(--color-base);
}

#texto-fuente {
    font: 300 24px/1.5 var(--fuente-primaria);
    width: 100%;
    height: auto;
    min-height: 400px;
    padding: 12px 20px;
    box-shadow: 10px 10px 20px var(--color-secundario-ligero);
    border: 1px dotted;
    background-color: var(--color-base);
    border-radius: 26px;
    resize: none;
}

#texto-advertencia::before {
    content: '🚫';
}

#texto-advertencia {
    font: 400 12px/1.5 var(--fuente-primaria);
}

.presentacion__derecha {
    padding: 2rem 1.5rem;
    box-shadow: 10px 10px 20px var(--color-secundario-ligero);
    border: 1px dotted;
    background-color: white;
    border-radius: 26px;
    text-align: center;
}

#texto-destino {
    font: 600 20px/1.5 var(--fuente-primaria);
    border: none;
    width: 100%;
    color: var(--color-primario);
}

#texto-instrucciones {
    font: 400 16px/1.5 var(--fuente-primaria);
}

footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.icono {
    cursor: pointer;
    width: 2rem;
    filter: invert(11%) sepia(80%) saturate(2880%) hue-rotate(205deg) brightness(94%) contrast(92%);
}

@media (min-width: 600px) {
    .presentacion {
        flex-direction: row;
        padding: 3% 10%;
    }

    .presentacion__izquierda, .presentacion__derecha {
        flex: 0 0 50%;
        padding: 2%;
    }

    #texto-fuente {
        font-size: 28px;
        height: 500px;
    }

    #texto-destino {
        font-size: 22px;
    }
}

@media (min-width: 900px) {
    .presentacion__izquierda {
        flex: 0 0 60%;
    }

    .presentacion__derecha {
        flex: 0 0 40%;
        padding: 4rem 2rem;
    }

    #texto-fuente {
        font-size: 32px;
        height: 700px;
    }

    #texto-destino {
        font-size: 24px;
    }
}

@media (max-width: 599px) {
    header {
        text-align: center;
        padding: 1% 3%;
    }

    .presentacion__izquierda, .presentacion__derecha {
        padding: 5%;
    }

    button {
        width: 80%;
    }
}