@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* declaracion de variables */
root {
    --color-base: #e1e1e2;
    --color-primario: #0a3871;
    --color-primario-ligero: #849cba;
    --color-secundario: #797b7c;
    --color-terciario: #5d5c5c;
    --color-hover: #748cac;

    --fuente-primaria: Inter, Helvetica, Arial, serif;
}

/* reset css */
* {
    padding: 0;
    margin: 0;
}

header {
    padding: 2% 0% 0% 5%;
}

body {
    background-color: #F3F5FC;
    box-sizing: border-box;
}

button {
    border-radius: 24px;
    background: #0a3871;
    color: #e1e1e2;
    padding: 1rem;
    width: 300px;
    font: 300 16px/1.5 Inter, Helvetica, Arial, serif;
    margin-top: 2rem;
    cursor: pointer;
}

button:disabled {
    background: lightgrey;
    color: darkblue;
    cursor: auto;
}

.presentacion {
    display: flex;
    align-items: normal;
    padding: 3% 15%;
    justify-content: space-between;
}

.presentacion__izquierda {
    display: flex;
    flex-direction: column;
    flex: 0 0 60%;
    padding: 5% 5%;
    /* padding: 10px; */
}

.texto-fuente {
    font: 300 32px/1.5 Inter, Helvetica, Arial, serif;
    width: 100%;
    height: 700px;
    padding: 12px 20px;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px lightgrey;
    border: 1px dotted;
    background-color: #F3F5FC;
    border-radius: 26px;
    /* font-size: 32px; */
    resize: none;
}

.signo-advertencia {
    width: 1rem;
    height: 1rem;
    vertical-align: top;
}

.texto-advertencia {
    font: 400 12px/1.5 Inter, Helvetica, Arial, serif;
}

.presentacion__derecha {
    flex: 0 0 40%;
    width: 100%;
    /* height: 150px; */
    padding: 8rem 1.5rem;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px lightgrey;
    border: 1px dotted;
    background-color: white;
    border-radius: 26px;
    /* font-size: 32px; */
    resize: none;
    text-align: center;
}

.texto-destino {
    font: 600 24px/1.5 Inter, Helvetica, Arial, serif;
}

.texto-instrucciones {
    font: 400 16px/1.5 Inter, Helvetica, Arial, serif;
}

footer {
    /* background-color: darkblue; */
    /* padding: 1rem; */
    text-align: center;
}

.icono {
    cursor: pointer;
    width: 2rem;
    /* fill: #0a3871; */
    /* https://isotropic.co/tool/hex-color-to-css-filter/ */
    filter: invert(11%) sepia(80%) saturate(2880%) hue-rotate(205deg) brightness(94%) contrast(92%);
}